
<body>
    <% layout("/layouts/boilerplate")%>
    <h1>create a new listing</h1>
    <div class="row">
        <div class="col-8 offset-2">
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">title</label>
                <input name="listing[title]" placeholder="enter title" type="text" class="form-control">
                <div class="valid-feedback">title looks good</div>
            </div>
            
            <br>
            <div class="mb-3">
                <label for="description" class="form-label">description</label>
            <textarea name="listing[description]" placeholder="enter description" class="form-control"></textarea>
            </div>
            
            <br>
        

             <div class="mb-3"><label for="image" class="form-label">upload image</label>
                <input name="listing[image]" type="file" class="form-control" required>
            </div>
            
            <br>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">enter price</label>
                    <input name="listing[price]" placeholder="enter price" type="number" class="form-control">
                    <div class="invalid-feedback">please enter price</div>
                </div>
               
                <br>
                <div class="mb-3 col-md-8 ">
                    <label for="country" class="form-label">enter country name</label>
                    <input name="listing[country]" placeholder="enter country" type="text" class="form-control">
                    <div class="invalid-feedback">please enter country</div>
                </div>
            </div>
           
           
            <br>
            <div class="mb-3">
                <label for="location" class="form-label">enter your location</label>
                <input name="listing[location]" placeholder="enter location" type="text" class="form-control">
                <div class="invalid-feedback">please enter location</div>
            </div>
           
            <br>
            <button>add</button>
        </form>
    </div>
    </div>
    
   
    
</body>
</html>