<% layout("./layouts/boilerplate")%>
<div class="row mt-3">
    <h1 class="col-6 offset-3">signup on wanderlust</h1>
    <div class="col-6 offset-3">
<form action="/signup" method="post" class="needs-validation novalidate">
  <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input id="username" name="username" placeholder="enter username" type="text" class="form-control" required>
                <label for="email" class="form-label">email</label>
                <input id="email" name="email" placeholder="enter email" type="text" class="form-control" required>
                 <label for="password" class="form-label">passwword</label>
                <input id="password" name="password" placeholder="enter passwword" type="text" class="form-control"required>
                <button class="btn btn-success mt-1">signup</button>
                <div class="valid-feedback">looks good</div>
            </div>
</form>

</div>


</div>